@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  min-width: 300px;
}

.hand {
  opacity: 0.4;
  font-size: 1.2em;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.left-hand {
  transform: scaleX(1) rotate(45deg);
}
.title-wrapper:hover .left-hand {
  transform: translateX(-10px) rotate(-45deg) scaleX(-1);
  opacity: 1;
}

.right-hand {
  transform: scaleX(-1) rotate(45deg);
}
.title-wrapper:hover .right-hand {
  transform: translateX(10px) rotate(45deg) scaleX(1);
  opacity: 1;
}

textarea:focus {
  border-color: var(--blu-ceruleo);
  outline: none;
}
